<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm món ăn</title>
</head>
<body>
    <h2>Thêm món ăn mới</h2>
    <form method="post" th:action="@{/admin/manageDish/add}">
        <label>Tên: <input type="text" name="name" /></label><br/>
        <label>Mô tả: <input type="text" name="description" /></label><br/>
        <label>Giá: <input type="text" name="price" /></label><br/>
        <label>Loại: <input type="text" name="category" /></label><br/>
        <label>Ảnh URL: <input type="text" name="imageUrl" /></label><br/>
        <label>Còn hàng? <input type="checkbox" name="isAvailable" value="true"/></label><br/>
        <input type="submit" value="Thêm món"/>
    </form>
</body>
</html>
