<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/end_user_layout :: layout(~{::title},
       ~{::#extra_head_content}, ~{::#content}, ~{::#extra_scripts})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Staff Dashboard</title>
  <th:block id="extra_head_content">
    <style>
      body {
      }
      button {
         background: #FE980F;
         border: medium none;
         border-radius: 0;
         color: #FFFFFF;
         display: block;
         font-family: 'Roboto', sans-serif;
         padding: 6px 25px;
         align-items: center;
       }
    </style>
  </th:block>
</head>
<body>
<th:block id="content">
  <div class="staff-dashboard-container container">
    <a href="/staff/dashboard">To Dashboard</a>
    <table class="table">
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Party Name</th>
        <th>Order Date</th>
        <th>Price</th>
        <th>Payment Status</th>
        <th>Order Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.partyOrder.partyName}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.paymentStatus}"></td>
        <td style="display: flex;">
          <form th:action="@{/staff/check-in}" method="post" style="max-width: 400px; display: flex;">
            <input type="hidden" name="orderId" th:value="${order.orderId}" />

            <select name="status">
              <option th:each="statusName : ${allStatus}"
                      th:value="${statusName}"
                      th:text="${statusName}"
                      th:selected="${order.status == statusName}">
              </option>
            </select>
            <button type="submit" style="margin-left: 50px;">Check-in</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</th:block>
</body>
</html>