<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/end_user_layout :: layout(~{::title},
       ~{::#extra_head_content}, ~{::#content}, ~{::#extra_scripts})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FABS</title>
</head><!--/head-->

<body>
<th:block id="content">
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <center>
                    <!-- Hiển thị thông báo đăng xuất thành công -->
                    <div th:if="${param.logout}" class="alert alert-success" role="alert">
                        Logout successfully!
                    </div>
                    <!-- Hiển thị thông báo đặt lại mật khẩu thành công -->
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                </center>
                <div class="authentication-content">
                    <div class="login-form" id="loginForm"><!--login form-->
                        <h2>Login</h2>

                        <a href="/register" style="margin-bottom: 10px;">Register new account here</a>

                        <form th:action="@{/perform_login}" th:object="${userDto}" method="post">
                            <label for="username">Username</label>
                            <input type="text" th:field="*{username}" id="username"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

                            <label for="password">Password</label>
                            <input type="password" th:field="*{password}" id="password"/>
                            <center>
                                <button type="submit">Submit</button>
                            </center>
                        </form>

                        <a href="/forgetPassword">I forgot my password...</a>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section><!--/form-->

</th:block>

<!-- Auto-scroll to login form -->
<th:block id="extra_scripts">
</th:block>
</body>
</html>