<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/end_user_layout :: layout(~{::title}, ~{::#content})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FABS</title>
</head><!--/head-->

<body>
<th:block id="content">
    <section id="form"><!--form-->
        <div class="container">
            <center>
                <div class="row">
                    <div>
                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Username or password is incorrect.
                        </div>
                        <!-- Hiển thị thông báo đăng xuất thành công -->
                        <div th:if="${param.logout}" class="alert alert-success" role="alert">
                            Logout successfully!
                        </div>
                        <!-- Hiển thị thông báo đặt lại mật khẩu thành công -->
                        <div th:if="${successMessage}" class="alert alert-success" role="alert">
                            <span th:text="${successMessage}"></span>
                        </div>
                        <div class="login-form"><!--login form-->
                            <h2>Login</h2>
                            <form th:action="@{/perform_login}" th:object="${userDto}" method="post">
                                <label for="username">Username</label>
                                <input type="text"
                                       th:field="*{username}"
                                       placeholder="username123" name="username" id="username"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                                     th:errors="*{username}"></div>

                                <label for="password">Password</label>
                                <input type="password"
                                       th:field="*{password}"
                                       placeholder="123123123" name="password" id="password"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                                     th:errors="*{password}"></div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <div>
                                <h2></h2>
                            </div>
                            <center><a href="/forgetPassword">Forgot password?</a></center>
                            <!-- Đã sửa lại đường dẫn -->
                            <div>
                                <h2></h2>
                            </div>
                            <span>You dont have an account? </span> <a href="/register">Register now!</a>
                        </div><!--/login form-->
                    </div>
                </div>
            </center>
        </div>
    </section><!--/form-->

</th:block>
</body>
</html>