<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/end_user_layout :: layout(~{::title},
       ~{::#extra_head_content}, ~{::#content}, ~{::#extra_scripts})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FABS</title>
</head><!--/head-->

<body>
<th:block id="content">
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="login-form">
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <h2>Forget Password</h2>
                    <form th:action="@{/forgetPassword}" th:object="${emailDto}" method="post">
                        <label for="email">Enter your email below to get OTP code for password reset.</label>
                        <center>
                            <input type="email" id="email"
                                   th:field="*{email}">
                            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                            </div>
                            <button type="submit">Submit</button>
                        </center>
                    </form>
                    <a href="/register">Register new account!</a>
                </div>
            </div>
        </div>
    </section><!--/form-->

</th:block>
</body>
</html>