<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/minimal_layout :: layout(~{::title},
       ~{::#extra_head_content}, ~{::#content}, ~{::#extra_scripts})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="extra_head_content">
        <style>
        </style>
    </th:block>
</head>
<body>
<th:block id="content">
        <div class="login-form" style="max-width: 1300px;">
            <h1>Oops! Error...</h1>
            <h2 th:text="${status} ?: 'Unexpected Error'"></h2>
            <p th:text="${error} ?: 'Unexpected error occurred'"></p>

            <p>You might want to fix this bug</p>

            <!-- Hiển thị thông báo lỗi chi tiết chỉ trong môi trường phát triển (tùy chọn) -->
            <div th:if="${trace}" class="error-details">
                <h4>Error details:</h4>
                <pre th:text="${trace}"></pre>
            </div>

            <a th:href="@{/}" class="btn btn-primary mt-4" style="margin-bottom: 20px;">Quay về Trang Chủ</a>
        </div>
</th:block>
</body>
</html>