<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/end_user_layout :: layout(~{::title},
       ~{::#extra_head_content}, ~{::#content}, ~{::#extra_scripts})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="extra_head_content">
        <style>
            .modal-content {
                margin-top: 200px;
            }
            .modal-footer {
                display: flex;
                justify-content: space-between;
                padding: 0;
            }
        </style>
    </th:block>
</head>
<body>

<th:block id="content">
    <!-- Modal -->
    <section id="form">
        <div class="container">
            <div class="row">
                <center>
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                </center>
                <div class="authentication-content">
                    <div class="login-form">
                        <h2>Account Details</h2>
                        <form action="/profile" th:object="${authenticatedUserDto}" method="post">
                            <div class="input">
                                <label for="name">Username</label>
                                <input type="text" th:field="*{username}" id="name">
                                <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                                     th:errors="*{username}"></div>

                                <label for="email">Email</label>
                                <input type="email" th:field="*{email}" id="email">
                                <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"></div>

                                <label for="phone">Phone number</label>
                                <input type="tel" th:field="*{phone}" id="phone">
                                <div class="text-danger" th:if="${#fields.hasErrors('phone')}"
                                     th:errors="*{phone}"></div>
                            </div>

                            <center>
                                <button type="submit">Save Changes</button>
                                <button type="button" data-toggle="modal" data-target="#myModal">
                                    Launch demo modal
                                </button>
                            </center>
                            <!--                                TODO: create modal when click delete account-->
                            <!--                            modal-->
                            <!--                            end modal-->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <center><h1 class="modal-title" id="myModalLabel">Delete Account</h1></center>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Your account will be permanently deleted. Are you sure to continue?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/delete-account" method="post">
                                                <button type="submit">Delete Account</button>
                                            </form>
                                            <button type="button" data-dismiss="modal">Close</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block id="extra_scripts">
</th:block>
</body>
</html>